@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body {
	color: #ccc;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: serif;
}

